<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大众点评美食-模仿</title>
	<meta name="viewport" content="initial-scale=1.0,width=device-width,height=device-height, maximum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<header>
		<nav>
			<a class="arrow">
				<img src="images/arrow-left.png"/>
			</a>
			<a class="type">
				<span class="tenant selected">商户</span>
				<span class="buy">闪惠团购</span>
			</a>
			<a class="search">
				<img src="images/search.png" />
			</a>
		</nav>
		<div>
			<p id="showLO" v-on:click="click">全部商区</p>
			<p class="selected">全部美食</p>
			<p>智能排序</p>
		</div>
	</header>
	<section class="selector hidn " id="selector">
		<div class="selectorNav" >
			<div v-on:click="change1"  id="business" class="curr">商区</div>
			<div   v-on:click="change" id="metroo" >地铁</div>
		</div>
		<div class="selectorList"  >
			<ul class="selectorListLeft">
				<li v-for="item in list" :title="item.id" v-on:click="click" v-bind:class="current">{{item.name}}</li>
				

			</ul>
			<ul class="selectorListRight">
				<li v-for="ite in listf" :title="ite.id" v-on:click="click2">{{ite.name}}</li>
				
				
			</ul>
		</div>

		

	</section>
	
<!-- 商家列表 -->
<div id="shopList">
	<section v-for="shop in shopList" >
	<div class="big" >
		<div class="img">
			<img :src="shop.shopPicture"/>
		</div>
		<div class="content">
			<h2><span class="shopName">{{shop.shopName}}</span><span class="group" v-if="shop.isPromo"></span><span class="isHui" v-if="shop.isHui"></span></h2>
			<p><span :class="shop.star |  starClass"></span>￥<span class="price">{{shop.price}}</span>/人</p>
			<p><span class="address">{{shop.address}}</span><span class="cuisine">{{shop.type}}</span></p>
		</div>
	</div>
	<p class="shop-type" v-for="tuan in shop.tuan" >
		<span :class="tuan.type | tuanT"></span>
		<span class="tuan-title">{{tuan.title}}</span>
		<span class="tuan-arrow"></span>
	</p>
	</section>
</div>
<div class="overlay hidn" id="overlay" v-on:click="click" style="top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 998; position: fixed;"></div>


<script src="jquery-3.1.1.min.js"></script>
<script src="vue.js"></script>
<script src="js/index.js"></script>
</body>
</html>